body {
    background-image: linear-gradient(to right, #495371, #74959A, #98B4AA, #F1E0AC );

}

.App {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 90vh;   
}